#app4{

}
@keyframes  change {
    0%{
        background: rgb(235, 164, 164);
    }
    100%{
        background: rgb(124, 219, 124);
    }
}
#app4 .circle{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 1px solid rgb(235, 164, 164);
}
#app4 .circle.active{
    animation: change 1s infinite alternate linear;
}